@media (max-width: 1100px) {
  .promo {
    background-position: left center;
  }

  .menu-list {
    display: none;
  }

  .menu-mobile {
    display: flex;
    gap: 0 20px;
  }

  .logo-img {
    width: 50px;
  }

  .nav {
    align-items: center;
  }

  .title {
    font-size: 64px;
  }

  .subtitle {
    font-size: 42px;
  }

  .subtitle span {
    font-size: 32px;
  }
}

@media (max-width: 969px) {
  .evo-white__inner::after {
    display: none;
  }
}

@media (max-width: 840px) {
  .menu-btn {
    width: 45px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  .menu-btn span {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  .menu-mobile {
    display: none;
  }

  .menu-mobile.menu_open {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 140px;
    background-color: #000;
    text-align: center;
    z-index: 5;
  }

  .menu-link {
    display: block;
    padding: 20px 0;
    color: #fff;
    font-size: 3vh;
  }

  .logo {
    z-index: 10;
  }

  .info__part-textbox {
    display: block;
    padding-bottom: 15px;
  }

  .info__part {
    display: block;
  }

  .info__part_second .info__text,
  .info__part_third .info__text {
    max-width: 100%;
  }

  .info__table {
    width: 100%;
  }

  .info__part-img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .blog__quote {
    flex-direction: column;
  }

  .blog__quote-box {
    flex-basis: auto;
  }

  .blog__quote-img {
    order: -1;
  }

  .blog__item-img {
    width: 100%;
  }

  .evo,
  .blog,
  .blog__slider {
    margin-bottom: 50px;
  }

  .info__part {
    padding-top: 50px;
  }

  .evo-white__inner {
    padding-top: 75px;
  }

  .evo-white__video {
    margin-top: 50px;
  }

  .evo-black__img {
    margin-top: 130px;
  }

  .footer {
    padding: 50px 0;
  }
}

@media (max-width: 669px) {
  .evo-white__inner::before {
    display: none;
  }

  .evo__descr-list {
    display: block;
    text-align: center;
  }

  .evo__descr-list div {
    margin-bottom: 15px;
  }

  .evo-black__info {
    display: block;
  }

  .evo-black__title {
    margin-bottom: 20px;
  }

  .footer__top {
    display: block;
  }
}

@media (max-width: 560px) {
  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 34px;
  }

  .subtitle span {
    font-size: 26px;
  }

  .info__table td:nth-child(2) {
    padding: 0 5px 0;
  }

  .evo-black__inner::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .footer__bottom {
    display: block;
    text-align: center;
  }

  .footer__logo {
    display: block;
    padding: 20px 0;
  }
}

@media (max-width: 340px) {
  .title {
    font-size: 42px;
  }

  .subtitle {
    font-size: 30px;
  }
}

@media (max-width: 320px) {
  .menu-link {
    padding: 15px 0;
  }
}
